.about {
    min-height: 50vh;
    strong {
        margin-bottom: 4rem;
        text-align: center;
    }
    .about__content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        font-size: 1.2rem;
    }
}
