.contact {
    display: grid;
    --columns: 1;
    grid-template-columns: repeat(var(--columns), 1fr);
    overflow: hidden;
    @include m-up {
        --columns: 3;
    }
    padding: 5rem 0;
    .branding {
        font-size: 0;
    }
    .branding img {
        max-width: 16rem;
    }
    a {
        display: block;
        color: var(--col-font-black);
        font-style: normal;
        text-decoration: none;
        &:hover {
            color: var(--col-font-lred);
        }
    }
    h3 {
        color: var(--col-font-red);
        font-weight: var(--font-weight-medium);
    }
    @include fsm-only {
        .branding,
        .contact__address,
        .contact__hours {
            text-align: center;
        }
        .contact__address {
            margin-bottom: 2rem;
        }
    }
}
