.delivery {
    min-height: 50vh;
    align-items: center;
    .delivery__content {
        font-size: 1.2rem;
        a {
            text-decoration: none;
        }
    }
    @include fsm-only {
        h2 {
            font-size: 2rem;
        }
    }
}
