.hero {
    text-align: center;
    h1 {
        margin-bottom: 0;
        font-size: 4rem;
        font-weight: var(--font-weight-light);
        @include m-up {
            font-size: 7rem;
        }
        @include l-up {
            font-size: 10rem;
        }
    }
    h2 {
        margin: 0;
        font-size: 1rem;
        font-weight: var(--font-weight-light);
        @include m-up {
            font-size: 2rem;
        }
        @include l-up {
            font-size: 3rem;
        }
    }
}
