.hero {
    background-size: cover;
    text-align: center;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    h2 {
        --font-size: 1rem;
        margin: 0;
        text-align: center;
        font-size: var(--font-size);
        font-weight: var(--font-weight-light);
        @include m-up {
            --font-size: 2rem;
        }
        @include l-up {
            --font-size: 3rem;
        }
    }
}
