.menu {
    .menu__content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .menu__nav {
        button {
            display: block;
            background: none;
            border: none;
            &.active h3 {
                padding-left: 1rem;
                color: var(--secondary-color);
            }
        }
    }
    @include m-up {
        --font-size: 1.5rem;
    }
    ul {
        margin-bottom: 2rem;
    }
    li {
        margin-bottom: 1rem;
    }
    strong {
        display: block;
    }
    .description {
        display: block;
        font-size: 0.8rem;
    }
    .price {
        display: block;
        font-size: 1.5rem;
    }
}
