.menu {
    min-height: 100vh;
    overflow: hidden;
    h2 {
        --fontSize: 5rem;
        text-align: center;
        font-size: var(--fontSize);
        margin-bottom: 2rem;
        @include fsm-only {
            --fontSize: 3rem;
        }
    }
    .menu__content {
        text-align: center;
    }
    .menu__nav {
        button {
            display: block;
            background: none;
            border: none;
            h3 {
                font-weight: var(--font-weight-medium);
                position: relative;
                @include fsm-only {
                    font-size: 1rem;
                    margin-bottom: 0.5rem;
                }
            }
            &.active h3 {
                padding-left: 1rem;
                color: var(--secondary-color);
                &:after {
                    content: "";
                    display: block;
                    background: var(--plain-color);
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0.5rem;
                    z-index: -1;
                }
            }
            &:hover h3 {
                padding-left: 0.5rem;
                &:after {
                    content: "";
                    display: block;
                    background: var(--plain-color);
                    width: 25%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: -1;
                }
            }
        }
    }
    @include m-up {
        --font-size: 1.5rem;
    }
    ul {
        margin-bottom: 2rem;
    }
    li {
        margin-bottom: 1rem;
        @include fsm-only {
            margin-bottom: 0.25rem;
        }
    }
    strong {
        display: block;
        @include fsm-only {
            font-size: 1rem;
            margin-bottom: 0;
        }
    }
    .description {
        display: block;
        font-size: 0.8rem;
    }
    .price {
        display: block;
        font-size: 1.5rem;
        @include fsm-only {
            font-size: 1rem;
        }
    }
    .bttn-menu {
        display: none;
        text-decoration: none;
        color: var(--col-font-white);
        background: #000;
        font-weight: var(--font-weight-light);
        text-transform: uppercase;
        @include fsm-only {
            padding: 5px 0;
            margin: 0 20px;
            border-radius: 20px;
            display: block;
        }
    }
}
