h1 {
    --font-size: 4rem;
    margin-top: 0;
    margin-bottom: 0;
    font-size: var(--font-size);
    font-weight: var(--font-weight-light);
    @include m-up {
        --font-size: 4rem;
    }
    @include l-up {
        --font-size: 7rem;
    }
}

h2 {
    --font-size: 1rem;
    margin: 0;
    font-size: var(--font-size);
    font-weight: var(--font-weight-medium);
    @include m-up {
        --font-size: 2rem;
    }
}

h3 {
    margin-top: 0;
    font-size: 1.5rem;
}

.border-bottom {
    border-bottom: 1px solid var(--col-font-black);
}

.border-top {
    border-top: 1px solid var(--col-font-black);
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}

ul {
    margin: 0 auto;
    padding: 0 0 0 0;
}
li {
    list-style-type: none;
}
section {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
a,
button {
    cursor: pointer;
}
.kicker {
    color: var(--col-font-red);
    display: block;
    text-transform: uppercase;
    font-weight: var(--font-weight-medium);
}
.hover {
    display: inline-block;
    text-decoration: none;
    color: var(--col-font-red);
    cursor: pointer;
    position: relative;
    padding: 0 5px;
    &:after {
        content: "";
        display: block;
        background: var(--plain-color);
        width: 15%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
    &:hover:after {
        width: 100%;
    }
}
.header--bullet {
    position: relative;
    padding-left: 1rem;
    font-size: 3rem;
    &:before {
        content: "";
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 100%;
        background: var(--secondary-color);
        position: absolute;
        left: 0;
        top: 2.2rem;
    }
}
