h1 {
    --font-size: 4rem;
    margin-top: 0;
    margin-bottom: 0;
    font-size: var(--font-size);
    font-weight: var(--font-weight-light);
    text-align: center;
    @include m-up {
      --font-size: 7rem;
    }
    @include l-up {
      --font-size: 10rem;
    }
}

h2 {
  --font-size: 1rem;
  margin: 0;
  text-align: center;
  font-size: var(--font-size);
  font-weight: var(--font-weight-medium);
  @include m-up {
      --font-size: 2rem;
  }
}