html {
    scroll-behavior: smooth;
}

body {
    font: normal 1rem/1.5 "Urbanist", sans-serif;
    background-color: var(--bg-color);
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

a,
a:after,
button,
h3,
h3:after {
    transition: all 500ms ease-in-out;
}

.cursor {
    background: var(--secondary-color);
    width: 0.5rem;
    height: 0.5rem;
    border: 1px solid var(--secondary-color);
    border-radius: 100%;
    position: fixed;
    transform: translate (-50%, -50%);
    transition: all 200ms ease;
    z-index: -1;
}

.cursor--hidden {
    opacity: 0;
}

.cursor--hover {
    transform: translate(-50%, -50%) scale(2.5);
    background: rgba(var(--secondary-color), 0);
}
