html {
    scroll-behavior: smooth;
}

body {
    font: normal 1rem/1.5 "Urbanist", sans-serif;
    background-color: var(--bg-color);
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

a,
a:after,
button,
h3,
h3:after {
    transition: all 500ms ease-in-out;
}

.grid-layout {
    display: grid;
    --columns: 1;
    grid-template-columns: repeat(var(--columns), 1fr);
    @include m-up {
        --columns: 2;
    }
}
