:root {
    --col-font-black: #2c3e50;
    --col-font-white: #fff;
    --col-font-red: #e61818;
    --col-font-lred: #e74c3c;
    --font-weight-light: 100;
    --font-weight-medium: 400;
    --font-weight-bold: 500;
    --font-size-sm: 0.75rem;
}
