header {
    padding: 2rem 2rem;
    position: fixed;
    display: flex;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-between;
    nav {
        margin-left: auto;
        a {
            color: var(--col-font-black);
            text-decoration: none;
            cursor: pointer;
        }
    }
}
