header {
    padding: 2rem 2rem;
    position: sticky;
    display: flex;
    justify-content: space-between;
    nav {
        margin-left: auto;
        ul {
            margin: 0 auto;
        }
        li {
            list-style-type: none;
        }
        a {
            color: var(--col-font-black);
            text-decoration: none;
            cursor: pointer;
        }
    }
}
